
* {
    margin: 0;
    padding: 0;
}

h1, p {
    background-color: salmon;
}

strong {
   background-color: bisque;
}


h1 {
    /* padding o relleno */
    /* padding: 40px; */
    /* padding-top: 40px;
    padding-right: 18px;
    padding-bottom: 20px;
    padding-left: 12px; */
    /* padding: 40px 20px; */
    padding: 20px 12px 40px 120px;
    border: 2px solid black;
    margin-bottom: 40px;
    margin-top: 20px;
    color: var(--color)
}


p {
    border: 2px solid black;
}



li {
    display: inline;
    padding-right: 40px;
}

:root {
    /* variables en css para guardar un valor */
    --encabezados: 44px;
    --color: gold;
}


